.user-avatar-icon {
    cursor: pointer;
    /* padding: 0 0.1vw; */
    color: #414140;
}

/* img {
    padding: 0 0.1vw;
} */

/* span {
    color: #FEFFEC;
} */

/* .icon {
    padding: 10pxs;
} */

.mat-toolbar {
    box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.4);
    background-color: #FEFFEC;
    /* width: 100%; */
    /* height: 20px; */
}

img {
    object-fit: cover;
    /* display: block; */
    max-width: 100%;
    max-height: 5vh;
    width: auto;
    height: auto;
}