<mat-toolbar fxLayout="row" fxLayoutAlign="space-between" fxFlexAlign="center">
    <!-- <button style="cursor: pointer;" mat-fab aria-label="Add new quote" (click)="openDialog()">
        <mat-icon class="add-quote">add</mat-icon>
    </button> -->
    <!-- <mat-icon matPrefix>format_quote</mat-icon> -->
    <button class="add-quote" fxLayoutAlign="center center" (click)="openDialog()" mat-button>
        <mat-icon matPrefix>add</mat-icon>
        Add Quote
    </button>

    <mat-form-field class="filter" appearance="outline">
        <mat-label>Filter Quotes</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <!-- <mat-form-field class="addNewQuote" appearance="outline"> -->
    <!-- <mat-label>Outline form field</mat-label> -->
    <!-- <input matInput placeholder="Got a hilarious quote to add?" disabled> -->
    <!-- <mat-icon matPrefix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
    <!-- </mat-form-field> -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

    <!-- <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field> -->
    <!-- <mat-form-field class="search-bar" appearance="outline">
        <mat-label>Quote Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="search" maxlength="25" matInput>
    </mat-form-field> -->
    <!-- <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log Out</button>
    </mat-menu>
    <mat-icon mat-icon-button [matMenuTriggerFor]="appMenu" class="user-avatar-icon" aria-hidden="false" aria-label="User avatar icon">person</mat-icon> -->
</mat-toolbar>