.user-avatar-icon {
    cursor: pointer;
    /* padding: 0 0.1vw; */
    color: #414140;
}

/* img {
    padding: 0 0.1vw;
} */

/* span {
    color: #FEFFEC;
} */

/* .icon {
    padding: 10pxs;
} */

.mat-toolbar {
    /* box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.4); */
    background-color: #FEFFEC;
    /* width: 100%; */
    /* height: 20px; */
    /* padding-top: 0.5vh; */
}

/* mat-label {
    color: #414140;;
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #414140;;
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #414140;;
  } */

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0, 0, 0);
}

.mat-form-field {
    color: black;
    width: 25vw;
    /* background-color: grey; */
}

.addNewQuote {
    text-align: center;
    color: grey;
    cursor: pointer;
}

.add-quote {
    padding: 0.5vh 0.5vw;
    font-size: 1rem;
}

::ng-deep .filter {
    color: #414140;
}

::ng-deep .filter {
    color: #414140;
}

.mat-form-field {
    font-size: 14px;
    /* width: 20vw; */
    color: #414140
}

.filter {
    font-size: 0.8rem;
    width: 12vw;
    color: #414140;
    padding-top: 0.5vh;
}

::ng-deep .filter.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #414140;
}

::ng-deep .filter.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #414140;
}

/* ::ng-deep .mat-form-field-infix{
    padding-bottom: -1.25em !important;
 } */

.add-quote {}