<!-- <header>
  <app-toolbar></app-toolbar>
</header>
<div class="container">
  <app-quote-board></app-quote-board>
</div>
<footer fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button aria-label="Add new quote">Add New Quote</button>
</footer> -->
<!-- <div class="container"></div>
  <div fxLayoutAling="end" class="example-button-row">
    <button mat-fab aria-label="Add new quote">
      <mat-icon>add</mat-icon>
    </button>
  </div> -->
<!-- <app-quote-board></app-quote-board> -->
<!-- <ngbd-carousel-basic></ngbd-carousel-basic> -->
<!-- <app-add-quote fxLayoutAlign="center end"></app-add-quote> -->
<!-- </section> -->
<div class="app-container" fxLayout="column" fxLayoutAlign="start stretch">
  <app-toolbar></app-toolbar>
  <!-- <app-sidebar></app-sidebar> -->
  <!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  </mat-drawer-container> -->

  <div class="board-section" fxFlex="1 1 auto">
    <app-quote-board></app-quote-board>
  </div>
  <footer fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center">
    <button style="cursor: pointer;" mat-fab aria-label="Add new quote" (click)="openDialog()">
      <mat-icon class="add-quote">add</mat-icon>
    </button>
  </footer>
</div>