<div class="new-quote-modal" fxLayout="column" fxLayoutAlign="start">
    <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="center">
        <mat-icon matPrefix>create</mat-icon>
        Add New Quote
    </h1>
    <form [formGroup]="quoteForm" (ngSubmit)="onAddQuote()">
        <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-evenly">
            <div class="quote" fxAlign="row">
                <mat-icon matPrefix>format_quote</mat-icon>
                <mat-form-field class="quote-field" fxFlex="100%" appearance="outline">
                    <textarea matInput placeholder="Insert quote here" formControlName="quote"></textarea>
                </mat-form-field>
                <mat-icon matPrefix>format_quote</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field class="quote-date" fxFlex="20%">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="20%" class="author-field" appearance="outline">
                    <input matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Author" formControlName="author" #authorField>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
                            {{ author }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
            <button class="add-quote-button" mat-raised-button type="submit" (click)="openSnackBar(authorField.value)"
                [disabled]="!quoteForm.valid" matDialogueClose>Add
                Quote</button>
        </div>
    </form>
</div>