<div class="new-quote-modal" fxLayout="column" fxLayoutAlign="start">
    <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="center">
        <mat-icon matPrefix>create</mat-icon>
        Add New Quote
    </h1>
    <form [formGroup]="quoteForm" (ngSubmit)="onAddQuote()">
        <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-evenly">
            <div class="quote" fxAlign="row">
                <mat-icon matPrefix>format_quote</mat-icon>
                <mat-form-field class="quote-field" fxFlex="100%" appearance="outline">
                    <!-- <mat-label>Quote</mat-label> -->
                    <textarea matInput placeholder="Insert quote here" formControlName="quote" #quoteText></textarea>
                </mat-form-field>
                <mat-icon matPrefix>format_quote</mat-icon>
            </div>
            <div class="author" fxLayout="row-reverse">
                <!-- <mat-icon matPrefix>minimize</mat-icon> -->
                <mat-form-field fxFlex="20%" class="author-field" appearance="outline">
                    <!-- <mat-label>Author</mat-label> -->
                    <input matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Author"
                        formControlName="author" #authorField>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let author of filteredAuthors | async" [value]="author">
                            {{ author }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- <mat-icon matPrefix>minimize</mat-icon> -->
            </div>
        </div>
        <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
            <button class="add-quote-button" mat-raised-button type="submit" [disabled]="!quoteForm.valid" matDialogueClose>Add
                Quote</button>
        </div>
    </form>
</div>