.new-quote-modal {
    border-radius: 0px;
    /* border: #b78240 solid 10px; */
    padding: none;
    /* background-color: #E7B680; */
}

::ng-deep .mat-dialog-container {
    border-radius: 0px;
    /* border: #B78240 solid 10px; */
    /* background-color: #E7B680; */
    background-color: #FEFFEC;
    /* background: url('../quote-board/board2.jpg'); */
}

.add-quote-button {
    background-color: #8FC0BC;
}

textarea {
    font-style: italic;
    text-align: center;
    resize: none;
    font-size: 2.5em;
    font-weight: 100;
}

input {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

::ng-deep mat-option {
    background-color: #FEFFEC;
}

::ng-deep .mat-option.mat-active {
    background-color: #E7B680;
}

.author-field {
    padding: 0;
}
/* ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #414140;
} */

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #FEFFEC;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #FEFFEC;
}