<div class="board-container" fxLayout="column" fxFlexFill fxLayoutAlign="center">
    <!-- <div class="board-header" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between">
        <h1 class="board-title lg-view" fxFlexAlign="start center" fxLayoutAlign.lt-sm="center">Quotes Taken Out Of Context</h1>
        <mat-form-field class="search-bar" appearance="outline">
            <mat-label>Quote Search</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input type="search" maxlength="25" size="40px" matInput>
        </mat-form-field>
    </div> -->
    <!-- <div class="quotes-grid" fxFlex="1 1 auto" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start">
        <app-quote-block
            *ngFor="let quoteBlock of quotes" fxFlex.xs="100%" fxFlex="0 1 calc(33%)" fxFlex.lt-md="0 1 calc(50%)" fxFlex.lt-sm="100%"
            [quote]="quoteBlock">
        </app-quote-block>
    </div> -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <!-- <div class="board-footer" fxLayout="row" fxLayoutAlign="end end">
        <button mat-icon-button aria-label="Add quote icon" fxFlex.lt-md="100%" fxFlex.lt-sm="100%">
            <mat-icon class="add-quote">add_circle_outline</mat-icon>
        </button>
    </div> -->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Author </th>
          <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>
      
        <ng-container matColumnDef="quote">
          <th mat-header-cell *matHeaderCellDef> Quote </th>
          <td mat-cell *matCellDef="let element"> {{element.quote}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->
    <!-- <div class="board-header" fxLayout="row" fxLayoutAlign="space-between"> -->
        <!-- <button class="add-quote" fxLayoutAlign="center center" (click)="openDialog()" mat-button>
            <mat-icon matPrefix>add</mat-icon>
            Add Quote
        </button> -->
        <!-- <mat-form-field class="filter" appearance="outline">
            <mat-label>Filter Quotes</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field> -->
    <!-- </div> -->

    <div class="quotes-table">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z0" matSort>
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef>{{ column.toUpperCase() }}</th>
                <td mat-cell *matCellDef="let element" style="cursor: pointer;"> {{element[column]}} </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        fxLayoutAlign="center center">
                        <div class="example-element-diagram" fxAlign="row">
                            <!-- <div class="example-element-position"> {{element.author}} </div> -->
                            <!-- <div class="example-element-symbol"> {{element.quote}} </div> -->
                            <!-- <div class="example-element-name"> {{element.name}} </div> -->
                            <!-- <div class="example-element-weight"> {{element.weight}} </div> -->
                            <app-quote-block [quote]="element"></app-quote-block>
                        </div>
                        <!-- <div class="example-element-description"> -->
                        <!-- {{element}} -->
                        <!-- <span class="example-element-description-attribution"> -- {{element.author}} </span> -->
                        <!-- </div> -->
                    </div>
                </td>
            </ng-container>

            <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" fxLayoutAlign="center center"
                class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
    <!-- <div class="board-footer">
        <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>
    </div> -->
</div>