/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: #e3e3e3; */
    background-color: #8FC0BC;
    /* background-image: url('./app/quote-board/board2.jpg'); */
}

.quote-added {
    background-color: #FEFFEC;
    color: #414140;
    text-align: center;
}

.quote-added > .mat-simple-snackbar {
    justify-content: center;
}